body{

    text-align: center;
}

#formBox{
    background-color: rgb(87, 87, 226);
 
    margin-left: 575px;
    margin-right: 575px;
    border: solid black 2px;
}

#removeAll{
    background-color: rgb(249, 45, 45);
}

#removeCompleted{
    background-color: rgb(225, 108, 65);
}

#submit{
    background-color: rgb(172, 169, 169);
}
